{% extends "container.html"%}
{% block corps %}
<div>
    <h2>Ajouter une amende</h2>
    <p>Pour ajouter une nouvelle amende, complétez le formulaire et cliquez sur "Ajouter".</p>
</div>
<form class="form" method="POST" action="{{url_for('add_amende')}}">


    <div class="form-group row">
      <label for="add_amende_id" class="col-sm-2 col-form-label"><b>Identifiant de l'amende</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_id" placeholder="Id de l'amende"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_cote" class="col-sm-2 col-form-label"><b>Cote de l'amende</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_cote" placeholder="Cote de l'amende"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_date" class="col-sm-2 col-form-label"><b>Date de l'amende</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_date" placeholder="Id de l'amende"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_typeTaxe" class="col-sm-2 col-form-label"><b>Type de taxe</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_typeTaxe" placeholder="Id de l'amende"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_sexe" class="col-sm-2 col-form-label"><b>Sexe du justiciable</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_sexe" placeholder="Id de l'amende"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_montant" class="col-sm-2 col-form-label"><b>Montant de l'amende</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_montant" placeholder="Montant de l'amende"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_parisis" class="col-sm-2 col-form-label"><b>Equivalent en sous parisis</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_parisis" placeholder="Equivalent en sous parisis"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_moment" class="col-sm-2 col-form-label"><b>Moment de la journée</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_moment" placeholder="Moment de la journée"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_typeDelit" class="col-sm-2 col-form-label"><b>Type de délit</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_typeDelit" placeholder="Type de délit"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_reunion" class="col-sm-2 col-form-label"><b>Délit ou crime en réunion ?</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_reunion" placeholder="Délit ou crime en réunion ?"/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_franchesverites" class="col-sm-2 col-form-label"><b>Amende perçue à l'issue d'une franche vérité ?</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_franchesverites" placeholder=""/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_tiers" class="col-sm-2 col-form-label"><b>Amende payée en l'acquit d'un tiers ?</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_tiers" placeholder=""/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_id_personne" class="col-sm-2 col-form-label"><b>Identifiant du justiciable</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_id_personne" placeholder=""/>
      </div>
    </div>

    <div class="form-group row">
      <label for="add_amende_transcription" class="col-sm-2 col-form-label"><b>Transcription de l'amende</b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="add_amende_transcription" placeholder=""/>
      </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary text-center">Ajouter</button>
    </div>

</form>
{% endblock %}