{% extends "container.html" %}
{% block corps %}
<style>
    .list-group-item {
        cursor: pointer;
        transition: background-color 0.2s;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }

    .list-group-item:hover {
        background-color: #f8f9fa; /* Changer la couleur de fond au survol */
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.4);
    }

    .list-group-item a {
        text-decoration: none;
        color: inherit;
        display: block; /* Faire en sorte que le lien prenne toute la largeur de la <li> */
        padding: 10px 15px; /* Ajouter de l'espace autour du texte du lien */
    }
</style>

<div class="container pt-2 pb-5 mb-5">
    <h2 class="text-center p-4"> Bienvenue dans l'index des amendes</h2>
    <p>
        Il y {{amendes.total}} amendes enregistrées:
    </p>
    <ul class="list-group pb-5 pt-2 mb-5">
        {% for amende in amendes.items %}
            <li class="list-group-item m-2">
                <a href="{{url_for('amende', identifiant=amende.identifiant)}}">
                    <b>Identifiant de l'amende</b> : {{amende.identifiant}} <br/>
                    <b>Type de délit</b>: {{amende.typeDelit}}<br/>
                    <b>Montant de l'amende</b>: {{amende.montant}}<br/>
                    <b>Justiciable</b>: {{amende.justiciable.nom}}<br/>
                    <b>Transcription </b> :<br/> {{amende.transcription}}<br/>
                </a>
            </li>
        {% endfor %}
    </ul>

    <nav aria-label="research-pagination">
        <ul class="pagination">
            {%- for page in amendes.iter_pages() %}
                {% if page %}
                    {% if page != amendes.page %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('index_amendes', page=page) }}">{{page}}</a>
                        </li>
                    {% else %}
                        <li class="page-item active disabled">
                            <a class="page-link">{{page}} <span class="sr-only">(actuelle)</span></a>
                        </li>
                    {% endif %}
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">...</a>
                    </li>
                {% endif %}
            {%- endfor %}
        </ul>
    </nav>
</div>
{% endblock %}
